#page-wrapper,#footerContent,#copyright,#topFooterContent{
    width: 100%;   
}
.search-button{
    display: none;

}
.logo{
    padding: 8px 10px 8px 10px;   
}
body{
    min-width:inherit;
}
html{
    width:100%;

}

.sway-container {
    position: relative;
    width:100%;
    height:100%;
}
footer{
    height: auto;
}
.page-nav{
    
    padding-bottom: 20px;  
}
#content-area{
    padding: 0;   
}
#sway-header,#sway-footer {
    display: block;
    position: relative;
    width:100%;
    height:auto;
}
#searchform{
    display: block;   
}
.titleimage{
    margin: 5% 0;
    position: relative;
    min-width:100%;
    height:100vh;
    display:block;
    overflow: hidden;

}
.titleblockimg{
    min-height: 100%;
    min-width: 100%; 
}

.titleimagetext{
    
    position: absolute;
    bottom:2.5em;
    text-align: center;
    width: 75%;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: white;
    font-size: 350%;
    line-height: 150%;
  font-family: 'Cabin', sans-serif;
}
.imageblock{
    padding: 4% 0;
    position: relative;
    width: 100%;
    height:auto;
    background-position: center;
    max-width: 800px;    
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
.imageblockimg{
      display: block; 
        width: 100%;
}
.textblock{
    padding: 4% 0;
  
    position: relative;
    width: 90%;
    max-width: 1000px;
    
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: black;
    font-size: 150%;
    line-height: 150%;
  font-family: 'Cabin', sans-serif;
  text-align: left;
    
}
.quoteblock{
    padding: -4% 0;
    position: relative;
    width: 80%;
    text-align: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: black;
    font-size: 250%;
    line-height: 150%;
  text-transform: uppercase;
  font-family: 'cabin', sans-serif;
 
  font-style: italic;
}
.titleblock{
    padding: 4% 10%;
    position: relative;
    width: 80%;
    text-align: center;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: white;
    font-size: 250%;
    line-height: 150%;
}
.imagefade{
    position: absolute;
    top: -5%;
    right: -5%;
    display: block;
    width: 120%;
    height: 120%;
    background-color: black;
    opacity: .3;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
@media (max-width: 600px), (max-height: 450px) {
    .titleimagetext{
        font-size: 175%;
        line-height: 150%;
    }
    .quoteblock{
        font-size: 150%;
        line-height: 150%;
    }
    .titleblock{
        font-size: 150%;
        line-height: 150%;
    }
    .textblock{
        font-size: 100%;
        line-height: 150%;
    }
    .video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
}

